<section class="order-section" id="contact">
        <div class="container">
            <h2>Связаться с нами</h2>

            <form class="order-form" method="post">
              {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>

            <div class="contact-info">
                <h3>Наши контакты</h3>
                <p>📞 Телефон: +7 (960) 254-97-36</p>
                <p>📧 Email: ostin.888@mail.ru</p>
                <p>🕐 Часы работы: Пн-Сб</p>
            </div>
        </div>
    </section>

<script>
  
</script>
