{% load static %}
   <nav class="navbar">
        <div class="container">
            <div class="logo">
              <a href="#">
              <img src="{% static "img/logo_for_loveanddough.png" %}" class="logo-img">
            </a>
            </div>
            <div class="nav-links">
                <a href="#products">Товары</a>
                <a href="#about">О нас</a>
                <a class="cta-btn" href="#contact">Контакты</a>
            </div>
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
